@font-face {
    font-family: 'Inter';
    src: url('Inter_Web/Inter-Black.woff2'),
         url('Inter_Web/Inter-Black.woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter_Web/Inter-Regular.woff2'),
         url('Inter_Web/Inter-Regular.woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter_Web/Inter-Medium.woff2'),
         url('Inter_Web/Inter-Medium.woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
