.navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.navigation__item {
    list-style-type: none;
    margin-right: 16px;
}

.navigation__link {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    opacity: 1;
}

.navigation__link:hover {
    opacity: 0.8;
}

.navigation__link_active {
    font-weight: 500;
}
