.saved-movies {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 70px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    align-items: center
}

.saved-movies__cards {
    align-self: stretch;
    padding-top: 70px;
}

.saved-movies__search {
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 70px;
}

.saved-movies-cards {
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .saved-movies {
        padding: 80px 30px;
    }

    .saved-movies__search {
        padding-bottom: 100px;
    }


}

@media screen and (max-width: 530px) {
    .saved-movies {
        padding: 80px 10px;
    }

    .saved-movies__cards {
        padding-top: 50px;
    }

    .saved-movies__search {
        padding-bottom: 44px;
    }
}
